<h1>Listado de conductores</h1>
<button mat-button color="primary" (click)="openCreateDialog()">Nuevo</button>
<mat-card *ngFor="let conductor of conductors">
    <mat-card-header>
        <mat-card-title>{{conductor.name + " " + conductor.lastName + " " + conductor.dni}}</mat-card-title>
        <mat-card-subtitle>{{conductor.hireDate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-button color="primary" (click)="openUpdateDialog(conductor.id)">Actualizar</button>
        <button mat-button color="primary" (click)="openDeleteDialog(conductor.id)">Eliminar</button>
    </mat-card-actions>
</mat-card>