<mat-card>
    <mat-card-header>
        <mat-card-title>Eliminar Conductor</mat-card-title>
        <mat-card-subtitle>Esta seguro ?</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button mat-button color="primary" (click)="delete()">Eliminar</button>
        <button mat-button color="primary" (click)="cancel()">Cancelar</button>
    </mat-card-content>
</mat-card>