<mat-card>
    <mat-card-header>
        <mat-card-title>Actualizar Conductor</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="conductorForm" (ngSubmit)="onSubmit()" class="form">
            <mat-form-field>
                <mat-label>Dni</mat-label>
                <input type="text" matInput placeholder="Dni" formControlName='dni'>
                <mat-error *ngIf="conductorForm.controls['dni'].errors?.['required']">El dni es requerido</mat-error>
            </mat-form-field>    
            <mat-form-field>
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" formControlName="name"/>
                <mat-error *ngIf="conductorForm.controls['name'].errors?.['required']">El nombre es requerido</mat-error>
            </mat-form-field>        
            <mat-form-field>
                <mat-label>Apellido</mat-label>
                <input type="text" matInput placeholder="Apellido" formControlName='lastName'>
                <mat-error *ngIf="conductorForm.controls['lastName'].errors?.['required']">El apellido es requerido</mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Seleccione una fecha</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="hireDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <button type="submit" mat-button color="primary">Guardar</button>
        </form>
    </mat-card-content>
</mat-card>