<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" [routerLink]="['/']">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Cain Mac</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" [routerLink]="['conductor']">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" [routerLink]="['bus']">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>